# 先排除所有的文件 
*.*
# 为什么不用*呢？*表示排除所有东西，文件夹也被排除了(文件夹被排除，里面的文件是加入不回来的)
# 所以我们只需要先排除所有的文件*.*，这时候文件夹还在，我们可以通过!*.py把文件捞回来！！！
# 再加入py,ipynb,md等等想要保留的文件
!*.py
!*.ipynb
!*.md
!*.gitignore
# 忽略 pytorch官方文档 下第2层开始的所有子文件夹（因为基本上都是数据）
/computer_vision/*/*/
/copied/